@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .snow_theme {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 0%;

    --radius: 0.5rem;
  }

  .midnight {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 0%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 0%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }

  .ice {
    --background: 182 50% 10%;
    --foreground: 182 5% 100%;
    --card: 182 50% 10%;
    --card-foreground: 182 5% 100%;
    --popover: 182 50% 5%;
    --popover-foreground: 182 5% 100%;
    --primary: 182 86% 70%;
    --primary-foreground: 0 0% 0%;
    --secondary: 182 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 144 30% 25%;
    --muted-foreground: 182 5% 65%;
    --accent: 144 30% 25%;
    --accent-foreground: 182 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 182 5% 100%;
    --border: 182 30% 50%;
    --input: 182 30% 50%;
    --ring: 182 86% 70%;
    --radius: 0.5rem;
  }

  .volcano {
    --background: 0 50% 10%;
    --foreground: 0 5% 100%;
    --card: 0 50% 10%;
    --card-foreground: 0 5% 100%;
    --popover: 0 50% 5%;
    --popover-foreground: 0 5% 100%;
    --primary: 0 72% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -38 30% 25%;
    --muted-foreground: 0 5% 65%;
    --accent: -38 30% 25%;
    --accent-foreground: 0 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 5% 100%;
    --border: 0 30% 50%;
    --input: 0 30% 50%;
    --ring: 0 72% 45%;
    --radius: 0.5rem;
  }

  .green_theme {
    --background: 124 100% 100%;
    --foreground: 124 5% 10%;
    --card: 124 50% 100%;
    --card-foreground: 124 5% 15%;
    --popover: 124 100% 100%;
    --popover-foreground: 124 100% 10%;
    --primary: 124 72% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 124 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 86 30% 95%;
    --muted-foreground: 124 5% 40%;
    --accent: 86 30% 90%;
    --accent-foreground: 124 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 124 5% 100%;
    --border: 124 30% 82%;
    --input: 124 30% 50%;
    --ring: 124 72% 45%;
    --radius: 0.5rem;
  }

  .elixir {
    --background: 274 50% 10%;
    --foreground: 274 5% 100%;
    --card: 274 50% 10%;
    --card-foreground: 274 5% 100%;
    --popover: 274 50% 5%;
    --popover-foreground: 274 5% 100%;
    --primary: 274 72% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 274 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 236 30% 25%;
    --muted-foreground: 274 5% 65%;
    --accent: 236 30% 25%;
    --accent-foreground: 274 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 274 5% 100%;
    --border: 274 30% 50%;
    --input: 274 30% 50%;
    --ring: 274 72% 45%;
    --radius: 0.5rem;
  }

  .forest {
    --background: 117 50% 10%;
    --foreground: 117 5% 100%;
    --card: 117 50% 10%;
    --card-foreground: 117 5% 100%;
    --popover: 117 50% 5%;
    --popover-foreground: 117 5% 100%;
    --primary: 117 72% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 117 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 79 30% 25%;
    --muted-foreground: 117 5% 65%;
    --accent: 79 30% 25%;
    --accent-foreground: 117 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 117 5% 100%;
    --border: 117 30% 50%;
    --input: 117 30% 50%;
    --ring: 117 72% 45%;
    --radius: 0.5rem;
  }

  .red_theme {
    --background: 0 100% 100%;
    --foreground: 0 5% 10%;
    --card: 0 50% 100%;
    --card-foreground: 0 5% 15%;
    --popover: 0 100% 100%;
    --popover-foreground: 0 100% 10%;
    --primary: 0 100% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -38 30% 95%;
    --muted-foreground: 0 5% 40%;
    --accent: -38 30% 90%;
    --accent-foreground: 0 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 5% 100%;
    --border: 0 30% 82%;
    --input: 0 30% 50%;
    --ring: 0 100% 49%;
    --radius: 0.5rem;
  }

  .blue_theme {
    --background: 221 100% 100%;
    --foreground: 221 5% 10%;
    --card: 221 50% 100%;
    --card-foreground: 221 5% 15%;
    --popover: 221 100% 100%;
    --popover-foreground: 221 100% 10%;
    --primary: 221 100% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 183 30% 95%;
    --muted-foreground: 221 5% 40%;
    --accent: 183 30% 90%;
    --accent-foreground: 221 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 221 5% 100%;
    --border: 221 30% 82%;
    --input: 221 30% 50%;
    --ring: 221 100% 49%;
    --radius: 0.5rem;
  }

  .purple_theme {
    --background: 266 100% 100%;
    --foreground: 266 5% 10%;
    --card: 266 50% 100%;
    --card-foreground: 266 5% 15%;
    --popover: 266 100% 100%;
    --popover-foreground: 266 100% 10%;
    --primary: 266 100% 76%;
    --primary-foreground: 0 0% 0%;
    --secondary: 266 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 228 30% 95%;
    --muted-foreground: 266 5% 40%;
    --accent: 228 30% 90%;
    --accent-foreground: 266 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 266 5% 100%;
    --border: 266 30% 82%;
    --input: 266 30% 50%;
    --ring: 266 100% 76%;
    --radius: 0.5rem;
  }

  .concrete {
    --background: 203 10% 10%;
    --foreground: 203 0% 90%;
    --card: 203 0% 10%;
    --card-foreground: 203 0% 90%;
    --popover: 203 10% 5%;
    --popover-foreground: 203 0% 90%;
    --primary: 203 0% 73%;
    --primary-foreground: 0 0% 0%;
    --secondary: 203 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 165 10% 25%;
    --muted-foreground: 203 0% 60%;
    --accent: 165 10% 25%;
    --accent-foreground: 203 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 203 0% 90%;
    --border: 203 20% 28%;
    --input: 203 20% 28%;
    --ring: 203 0% 73%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.error-color {
  color: red;
}


.button-hide-1 {
  display: flex;
  align-items: center;
}

@media (max-width: 950px) {
  .button-hide-1 {
    display: none;
  }
}

.button-hide-2 {
  display: flex;
  align-items: center;
}

@media (max-width: 840px) {
  .button-hide-2 {
    display: none;
  }
}

.button-hide-3 {
  display: flex;
  align-items: center;
}

@media (max-width: 730px) {
  .button-hide-3 {
    display: none;
  }
}

.button-hide-4 {
  display: flex;
  align-items: center;
}

@media (max-width: 580px) {
  .button-hide-4 {
    display: none;
  }
}

.button-hide-5 {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .button-hide-5 {
    display: none;
  }
}